<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyuyouguo.mapper.AdMapper">

    <sql id="Base_Column_List">
        ${alias}.id,
        ${alias}.link_type,
        ${alias}.link,
        ${alias}.goods_id,
        ${alias}.image_url,
        ${alias}.end_time,
        ${alias}.enabled,
        ${alias}.sort_order,
        ${alias}.is_delete
    </sql>

</mapper>
