<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyuyouguo.mapper.FreightTemplateDetailMapper">

    <sql id="Base_Column_List">
        ${alias}.id,
        ${alias}.template_id,
        ${alias}.group_id,
        ${alias}.area,
        ${alias}.is_delete
    </sql>

</mapper>