<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyuyouguo.mapper.RegionMapper">

    <sql id="Base_Column_List">
        ${alias}.id,
        ${alias}.parent_id,
        ${alias}.name,
        ${alias}.type,
        ${alias}.agency_id,
        ${alias}.area,
        ${alias}.area_code,
        ${alias}.far_area
    </sql>

</mapper>